<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Email</th>
      <th scope="col">Selection</th>
      <th scope="col">Doc</th>
    </tr>
  </thead>
  <tbody>
    {{#data}}
    <tr>
      <td>{{title}}</td>
      <td>{{email}}</td>
      <td>{{selection}}</td>
      <td>{{doc}}</td>
    </tr>
    {{/data}}
  </tbody>
</table>