<div class="conteiner row justify-content-md-center">

  <form action="/input" method="POST">
    <div class="form-group">
      <label for="exampleInputTitle">Title</label>
      <input type="text" name="title" class="form-control" id="exampleInputTitle" aria-describedby=""
        placeholder="Enter title">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Example select</label>
      <select class="form-control" name="selection" id="exampleSelect1">
        <option>aaa</option>
        <option>bbb</option>
        <option>ccc</option>
        <option>ddd</option>
        <option>eee</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Example textarea</label>
      <textarea class="form-control" name="doc" id="exampleTextarea" rows="3"></textarea>
    </div>
    {{!-- <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
          <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above
            input. It's a bit lighter and easily wraps to a new line.</small>
        </div> --}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>