<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Table Name</th>
    </tr>
  </thead>
  <tbody>
    {{#data}}
    <tr>
      <td><a href="/table/{{name}}">{{name}}</a></td>
    </tr>
    {{/data}}
  </tbody>
</table>